@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


@theme{
  --color-primario: #00b4d8;
  --theme-color-secundario: #3d405b;
  --color-terciario: #f9a18c;
}



/* Estilo para scrollbars modernas */
.scrollbar-estetica {
  scrollbar-width: thin;
  scrollbar-color: #92b2f7 rgba(0,0,0,0.08); /* thumb color, track color */
}

/* Para navegadores Webkit (Chrome, Edge, Safari) */
.scrollbar-estetica::-webkit-scrollbar {
  width: 8px;
  background: none;
}

.scrollbar-estetica::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 8px;
}

.scrollbar-estetica::-webkit-scrollbar-track {
  background: #ff8400;
}

