@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


@theme{
  --color-primario: #00b4d8;
  --theme-color-secundario: #3d405b;
  --color-terciario: #f9a18c;
}



/* Estilo para scrollbars modernas */
.scrollbar-estetica {
  scrollbar-width: thin;
  scrollbar-color: #92b2f7 rgba(0,0,0,0.08); /* thumb color, track color */
}

/* Para navegadores Webkit (Chrome, Edge, Safari) */
.scrollbar-estetica::-webkit-scrollbar {
  width: 8px;
  background: none;
}

.scrollbar-estetica::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 8px;
}

.scrollbar-estetica::-webkit-scrollbar-track {
  background: #ff8400;
}

/* Clase para fondo de login */
.login {
  background-image: url('/imgs/fondoLogin2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




/* PDF */

  .page{
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    background-color: white;
    color: black;
    font-size: 12pt;
    box-sizing: border-box as const;
  }
  .page-portada{
   width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    background-color: white;
    color: black;
    font-size: 12pt;
    box-sizing: border-box as const;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }

  .page-portada__Titulos{
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }
  .page-portada__titulo{
        display: flex;
    font-size: 24pt;
    text-align: center;
    font-weight: bold;

  }
   .page-portada__sub-titulo{
    font-size: 24pt;
    text-align: center;
    font-weight: 500;

  }



    .page-body{
   width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    background-color: white;
    color: black;
    font-size: 12pt;
    box-sizing: border-box as const;
    display: flex;
    flex-direction: column;


    
  }

  .page-body__criterios{
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;

  }
  .page-criterio__puntos{
    color: #2d2d2d;
  
    display: flex;
    justify-content: center;
    align-items: center;
  border-right: #7dc1f8 2px solid;

    width: 40px;
  }
  .page-criterio__conte{
 

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .page-criterio__name{
       color: #25c5ff;
    font-weight: bold;

  }
  .page-criterio__detalles{
    color: #4f4f4f;
  }

  .titulo-rubrica{
    font-size: 18pt;
 
    color: #5b5b5b;
    margin-bottom: 16px;
  }



